---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}
      {% unless post.categories == empty %}
      <span style="float:right;margin-top:0px;" class="post-date">
        /
        {% for category in post.categories %}
          {{ category }} /
        {% endfor %}
      </span>
      {% endunless %}
    </time>
    {{ post.excerpt }}

    {% if post.content contains site.excerpt_separator %}
    <a href="{{ site.baseurl }}{{ post.url }}"> Read more </a>
    {% endif %}
    <div style="border-style:solid none none none; border-width:1px; border-color:#515151;margin-top:5px"></div>

  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
