<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body style="overscroll-behavior: none;">

<div style="position:fixed; width:100vw; height:100vh; background: radial-gradient(circle, white, #d8ebf8);z-index:-1; margin-top:-10px"></div>

    <div class="container content" style="background:white; border-radius:3px; margin-top:10px">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>
        </h3>
        <div style="border-style:solid none none none; border-width:1px; border-color:#515151;opacity:0.3;margin-top:5px"></div>
        <div style="border-style:solid none none none; border-width:1px; border-color:#515151;opacity:0.3;margin-top:1px"></div>

        <div style="float:right; opacity: 0.75;">
          <small>
    				<span style="opacity: 0.5;"> / </span> <a href="https://olivierbinette.ca"><i class="fas fa-home"></i></a>
    			 	<span style="opacity: 0.5;"> / </span> <a href="https://github.com/olivierbinette"><i class="fab fa-github"></i></a>
    			 	<span style="opacity: 0.5;"> / </span> <a href="https://www.linkedin.com/in/olivier-binette/"><i class="fab fa-linkedin"></i></a>
    			 	<span style="opacity: 0.5;"> / </span> <a href="https://www.researchgate.net/profile/Olivier_Binette"><i class="fab fa-researchgate"></i></a>
    			 	<span style="opacity: 0.5;"> / </span>
    			</small>
        </div>


      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <tiny style="font-size:10px;">
          <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a> <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> <a href="http://olivierbinette.ca">Olivier Binette</a>.
          <span style="text-align:right;">Made using <a href="https://github.com/poole/poole">Poole.</a></span>
        </tiny>
      </footer>
    </div>

    {% if site.analytics_id %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.analytics_id }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}
  </body>
</html>
