---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}
    {% unless page.categories == empty %}
    <span style="float:right;" class="post-date">
      /
      {% for category in page.categories %}
        {{ category }} /
      {% endfor %}
    </span>
    {% endunless %}
  </time>


  {{ content }}
</article>


{% if site.related_posts != empty %}
<aside class="related">
  <h4>Cite this post</h4>
  <small>Olivier Binette, "{{ page.title }}," <i>Proofs from the Notebook</i> (blog),
    {{ page.date | date_to_string }}, {{ site.url }}/blog{{ page.url }}.
  </small>
  &nbsp;

  <h4>Related posts</h4>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
